body {
    background-color: #000000;
}

#background-image {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    font-family: monospace;
    text-align: center;
}

#department_link {
    text-decoration: unset;
    color: #008080;
}