body {
    overflow: hidden;
    margin: 0;
}

/* cursor */

* {
    cursor: none;
}

#candle-cursor {
    pointer-events: none;
    position: absolute;
}

/* guest photo */

#guest-photo-div {
    position: fixed;
    text-align: center;
    top: 35%;
    left: 5%;
}

#guest-photo {
    width: 250px;
    opacity: 0;
    filter: alpha(opacity=40);
}

/* logo */

#university-logo-div {
    position: fixed;
    text-align: center;
    top: 8%;
    left: 8%;
}

#faculty-logo-div {
    position: fixed;
    text-align: center;
    top: 8%;
    right: 5%;
}

#university-logo, #faculty-logo {
    height: 200px;
}

/* headings */

#heading-div {
    position: fixed;
    width: 100%;
    margin-top: 4%;
    text-align: center
}

#topic {
    font-family: Georgia;
    color: #f5bb1d;
    font-size: 50px;
}

#batch {
    font-family: Georgia;
    color: #f5bb1d;
}

#faculty-name {
    font-family: Verdana;
    color: #ffffff;
}

/* lighting point */

.lighting-points {
    position: fixed;
    text-align: center;
    width: 50px;
    height: 50px;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

#middle-point {
    top: 54%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;

}

#bottom-point {
    top: 86%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}
.blink{
    width: 100%;
    height: 100%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: rgba(255, 165, 0, 0.5);
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}

/* fixed burron */

#fixed-button-div {
    position: absolute;
    overflow: hidden;
}

#fixed-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    color: #ffffff;
    font-family: monospace;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.30);
    padding: 10px;
}